.cardMovie {
  /* background: #292929; */
  border-radius: 15px;
  width: 300px;
  cursor: pointer;
}

.cardMovieData {
  display: flex;
  gap: 10px;
  padding: 5px;
  /* height: 100px; */
}

.cardMovieTitle {
  width: 80%;
}

.cardMovieVote {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 10px;
}

.cardMovie img {
  width: 100%;
  border-radius: 15px;
  transition: 250ms;
  object-fit: cover;
  /* height: 165px; */
}

.cardMovie:hover img {
  filter: brightness(1.2);
}

.cardMovie h3 {
  color: #ddd;
  max-height: 80px;
  overflow: hidden;

}

.cardMovie p {
  color: #555;
}

.cardMovie span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  color: #ddd;
}

.cardMovie span i {
  color: #3fa897;
  font-size: 18px;

}


/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
  .cardMovie {
    display: flex;
    gap: 10px;
    width: 100%;
  }

  .cardMovie img {
    width: 100px;
  }

  .cardMovieData {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px 0;
  }

  .cardMovieTitle {
    width: 100%;
  }

  .cardMovieVote {
    flex-direction: row;
    height: fit-content;
  }



}