.listMovies {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 25px;
}

.cardMovie {
  min-width: 200px;
  width: 200px;
  position: relative;
  cursor: pointer;
}

.cardMovie img {
  width: 100%;
  min-height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.cardMovie:hover img {
  transition: 250ms;
  filter: brightness(0.7);
}

.cardMovieData {
  padding: 0 3px;
}

.cardMovieData h3 {
  width: 100%;
  margin: 0 0 5px;
  color: #ddd;
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.cardMovieDataDetails {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-end;
}

.cardMovieDataDetails span {
  color: #444;
  font-size: 14px;
  display: block;
  margin: 0 auto 0 0;
}

.cardMovieDataDetails div {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #ddd;
  font-size: 14px;
}

.cardMovieDataDetails div i {
  color: #3fa897;
}

.cardMovie #btnLike {
  width: 35px;
  height: 35px;
  background: #292929;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  font-size: 20px;
  box-shadow: 3px 3px 5px #000;
}

.fa-solid.fa-heart {
  color: #de2727
}

.fa-regular.fa-heart {
  color: #3fa897;
}

#btnLike:hover {
  color: #de2727
}


/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {

  .cardMovie {
    width: 150px;
    min-width: 150px;
  }

  .cardMovie img {
    min-height: 225px;
  }

  .cardMovieDataDetails {
    gap: 7px;
  }

  #btnLike {
    top: auto;
    bottom: 5px;
    box-shadow: none;
    background: none;
  }


  .listMovies {
    width: 100%;
    justify-content: space-evenly;
    gap: 15px 5px;
    padding: 40px 0;
  }


}