.loginContainer {
    display: flex;
    height: 100vh;
}

.loginSideApresentation {
    width: 50%;
    position: relative;
    padding: 0 5%;
}

.loginSideApresentation img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: brightness(0.1);
    position: absolute;
    z-index: -1;
}

.loginSideApresentation ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.loginSideApresentation li {
    color: #ddd;
    font-size: 18px;
    text-shadow: 2px 2px 5px #0003;
}

.formLogin {
    width: 50%;
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.formLogin .logo {
    font-size: 48px;
    color: #3fa897;
}

.formLogin h3 {
    font-weight: 400;
    font-size: 20px;
    color: #333;
}

.formLogin form {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.formLogin input {
    width: 100%;
    min-width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #bbb;
}

.formLogin input:focus {
    border: 1px solid #3fa897;
}

.formLogin button {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #3fa897;
    background: #333;
    color: #fdfdfd;
    font-weight: 500;
    transition: 350ms;
    cursor: pointer;
}

.formLogin button:hover {
    background: #3fa897;
    color: #fdfdfd;
    border: 1px solid #3fa897;
}

.formLogin a {
    text-decoration: none;
    color: #666;
    cursor: pointer;
}

.formLogin a:hover {
    opacity: 0.6;
}





/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    .loginContainer {
        flex-wrap: wrap;
    }

    .loginSideApresentation {
        width: 100%;
        order: 2;
    }

    .formLogin {
        width: 100%;
    }

    .loginSideApresentation ul {
        gap: 20px;
        text-align: center;

    }

    .loginSideApresentation li {
        font-size: 14px;
        list-style: none;
    }

}