.movieContainer {
    height: 60vw;
    max-height: 800px;
    margin: 70px 0 0;
    position: relative;
}

.movieContainer img {
    width: 100%;
    height: auto;
    max-height: 800px;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.movieData {
    width: 40%;
    min-width: 500px;
    height: 100%;
    background: linear-gradient(to right, #222, 90%, transparent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10%;
}

.movieContainer h1 {
    font-size: 24px;
    color: #fdfdfd;
    margin: 0 0 20px;
    font-weight: 500;
}

.movieContainer h2 {
    font-size: 18px;
    color: #aaa;
    margin: 0 0 25px;
    font-weight: 100;
}

.movieInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.movieInfo span {
    color: #aaa;
    font-size: 14px;
}

.movieContainer p {
    color: #ddd;
    font-size: 16px;
    margin: 25px 0 0;
}

.btnControl {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.movieData button {
    padding: 10px 0;
    width: 180px;
    background: none;
    border: 1px solid #3fa897;
    font-weight: 500;
    color: #fdfdfd;
    cursor: pointer;
    transition: 250ms;
}

.movieData button:hover {
    opacity: 0.5;
}

.movieContainer a {
    text-decoration: none;
    color: #3fa897;
    margin: 20px 0;
    overflow: hidden;
}

.movieContainer a:hover {
    text-decoration: underline;
}

.movieActor h2 {
    color: #fdfdfd;

}

.actorList {
    display: flex;
    gap: 15px;
    width: 100%;
    overflow: auto;
    padding: 20px 0;

}

.actorList::-webkit-scrollbar {
    height: 5px;
}

.actorList::-webkit-scrollbar-track {
    background: #333;
    border-radius: 10px;
}

.actorList::-webkit-scrollbar-thumb {
    background: #3fa897;
    border-radius: 10px;
}

.cardActor {
    min-width: 150px;
    width: 150px;
    background: #292929;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 1px 1px 10px #0003;
    cursor: pointer;

}

.cardActor:hover img {
filter: brightness(0.5);

}

.cardActor img {
    width: 100%;
    border-radius: 15px;
    transition: 250ms;
    
}

.cardActor h2 {
    padding: 5px;
    font-size: 16px;
    color: #fdfdfd;
    font-weight: 400;
}

.cardActor h3 {
    padding: 5px;
    font-size: 14px;
    color: #aaa;
    font-weight: 400;
}

.movieCosts span {
    color: #aaa;
    display: block;
    margin: 0 0 5px;
}

.movieCosts p i {
    color: #111;
}

.movieCosts p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    font-weight: 500;
}

.movieProduction {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin: 20px 0 0;
    align-items: center;
    /* justify-content: space-evenly; */
}

.cardMovieProduction {
    display: flex;
    flex-direction: column;
}

.movieProduction span {
    color: #fdfdfd;
}

.movieProduction img {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 1;
    object-fit: contain;
    border-radius: 10px;
}

.containerVideos {
    width: 90%;
    margin: 50px auto 0;
    /* border: 1px solid green; */
}

.listVideos {
    width: 100%;
    /* max-width: 100%; */
    display: flex;
    margin: 0 auto;
    gap: 20px;
    overflow: auto;
    justify-content: space-evenly;
    /* border: 1px solid blue; */
    padding: 20px 0;
}

.containerVideos h2 {
    margin: 0 0 25px;
}

.listVideos::-webkit-scrollbar {
    height: 5px;
}

.listVideos::-webkit-scrollbar-track {
    background: #333;
    border-radius: 10px;
}

.listVideos::-webkit-scrollbar-thumb {
    background: #3fa897;
    border-radius: 10px;
}

.cardVideo {
    width: 49%;
    min-width: 49%;
    color: #ddd;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.cardVideo span {
    color: #fdfdfd;
}

.cardVideo img {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    margin: 0 0 10px;
    object-fit: cover;
    border-radius: 10px;
}

.btnPlay {
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 65px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3fa897;
    background: #222;
    border-radius: 50%;
    box-shadow: 3px 3px 5px #0003;
}

.containerVideo {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.851);
    display: flex;
    justify-content: center;
    align-items: center;

}

iframe {
    width: 50%;
    min-width: 350px;
    aspect-ratio: 16/9;
}


/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    .movieContainer {
        height: auto;
        max-height: fit-content;
    }

    .movieContainer h1 {
        margin: 15px 0 10px;
    }

    .movieData {
        width: 100%;
        min-width: auto;
        padding: 0 5%;
        height: auto;
        background: none;
    }

    .movieContainer img {
        position: relative;
        box-shadow: 0px 3px 10px #000;
    }

    .movieContainer p {
        margin: 10px 0;
    }


    .movieCosts p {
        margin: 0;
    }

    .listVideos {
        justify-content: flex-start;
    }

    .cardVideo {
        min-width: 100%;
    }

    .actorList .cardMovie img {
        width: 150px;
    }



    .actorList .cardMovie .cardMovieData .cardMovieVote {
        flex-direction: row;
        flex-wrap: wrap;
    }

.btnControl {
    width: 100%;
    justify-content: space-evenly;
}


    .actorList .cardMovie #btnLike {
        width: 35px;
        height: 35px;
        background: #292929;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 4;
        top: 10px;
        right: 10px;
        font-size: 20px;
        box-shadow: 3px 3px 5px #000
    }
}
