.movieContainer {
    height: 60vw;
    max-height: 800px;
    position: relative;
}

.movieContainer img {
    width: 100%;
    height: auto;
    max-height: 800px;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.movieData {
    width: 40%;
    min-width: 500px;
    height: 100%;
    background: linear-gradient(to right, #222, 90%, transparent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10%;
}

.movieContainer h1 {
    font-size: 24px;
    color: #fdfdfd;
    margin: 0 0 25px;
    font-weight: 500;
}

.movieInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.movieInfo span {
    color: #aaa;
    font-size: 16px;
}

.movieContainer p {
    color: #fdfdfd;
    font-size: 16px;
    margin: 25px 0;
}

.movieContainer a {
    text-decoration: none;
    color: #3fa897;
}

.movieContainer a:hover {
    text-decoration: underline;
}


/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    .movieContainer {
        height: auto;
        max-height: fit-content;
    }

    .movieData {
        width: 100%;
        min-width: auto;
        padding: 0 5%;
        height: auto;
    }

    .movieContainer img {
        position: relative;
    }

    .movieContainer h1 {
        margin: 0 0 10px;
    }

    .movieContainer p {
        margin: 10px 0;
    }
}



.movieActor h2 {
    color: #fdfdfd;

}


.actorList {
    display: flex;
    gap: 15px;
    width: 100%;
    overflow: auto;
    padding: 20px 0;

}

.actorList::-webkit-scrollbar {
height: 5px;
}

.actorList::-webkit-scrollbar-track {
background: #333;
border-radius: 10px;
}

.actorList::-webkit-scrollbar-thumb {
background: #3fa897;
border-radius: 10px;
}

.cardActor {
    min-width: 150px;
    width: 150px;
    background: #292929;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 1px 1px 10px #0003;

}

.cardActor img {
    width: 100%;
    border-radius: 15px;
}

.cardActor h2 {
    padding: 5px;
    font-size: 16px;
    color: #fdfdfd;
    font-weight: 400;
}
.cardActor h3 {
    padding: 5px;
    font-size: 14px;
    color: #aaa;
    font-weight: 400;

}


/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    .movieContainer {
        margin: 70px 0 0;
    }
}