.Container__count {

    height: 100px;
    display: grid;
    align-items: center;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

.MuiStack-root {
    width: max-content;
    margin: 0 auto;
    color: #ddd;
}

.css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected { 
    background: #3fa897 !important;
    color: #fdfdfd !important;
}

.css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root {
    color: #ddd !important;
    padding: 0 !important;
}

.css-1scal0h-MuiPaginationItem-root {
    color: #ddd !important;
}

.css-1scal0h-MuiPaginationItem-root {
    padding: 0 !important;
    min-width: 13px !important;
}