.content {
  background: #292929;
  width: 90%;
  margin: 70px auto;
  border-radius: 10px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  gap: 50px;
}


section {
  background: #222;
  border-radius: 10px;
  padding: 20px;
}

.infoSection {
  width: 400px;
  /* border: 1px solid red; */
  padding: 0 50px 0 0;
  height: 347px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infoSection h1 {
  color: #eee;
  font-size: 32px;
  font-weight: 500;
}

.infoSection p {
  color: #3fa897;
  border-bottom: 1px solid #444;
  width: 100%;
  /* margin: auto 0 0 ; */
  padding: 40px 0 30px;

}

.infoSection a {
  text-decoration: none;
  color: #888;
  letter-spacing: 2px;
  margin: 10px 0 0;
  transition: 250ms;
}

.infoSection a:hover {
  letter-spacing: 3px;
  opacity: 0.7;
}

section h1 {
  /* color: #ddd; */
  /* font-size: 40px; */
  /* margin: 0 0 30px; */
  /* width: 400px; */
}

section h2 {
  color: #fdfdfd;
}

section button {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 40px;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  border: 1px solid #3fa897;
  background: #222;
  color: #ddd;
  font-weight: 500;
  font-size: 16px;
  transition: 250ms;
  cursor: pointer;
}

section button:hover {
  background: #222;
  border-color: #3fa897;
  color: #3fa897;
}



/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 1023px) {
  .content {
    background: none;
    width: 100%;
    padding: 0 5%;
    gap: 0;
  }
  
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {

  .content {
    background: none;
    width: 100%;
    padding: 0 5%;
    gap: 0;
  }

  section {
    padding: 0;
    margin: 0 0 50px;
  }

  section h1 {
    text-align: center;
  }

  .listMovies {
    gap: 0;
    width: 100%;
    padding: 40px 0;
  }


  .infoSection {
    padding: 0;
    align-items: center;
    height: fit-content;
    margin: 0 0 20px;
  }

  .infoSection h1:nth-child(3) {
    display: none;
  }

  .infoSection p {
    display: none;

  }

  .infoSection a {
    border-bottom: 1px solid #444;
    padding: 10px 30px;
  }

  section button {
    top: 0;
  }











}